<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcula tu flete</title>

    <!-- 
    - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
        - custom css link
    -->
    <link rel="stylesheet" href="styles.css">

    <!--
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>

    <!-- 
    - #FEATURE
    -->

      <section class="section feature" aria-label="feature">
        <div class="container">

          <div class="title-wrapper">

            <div>
              <p class="section-subtitle">¿Cómo trabajamos?</p>

              <h2 class="h2 section-title">Simple y efectivo en solo 3 pasos</h2>

              <!-- <p class="section-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry the standard dummy text ever
                since the when an
                printer took.
              </p> -->

            </div>

            <a href="#" class="btn">Subir</a>

          </div>

          <ul class="feature-list grid-list">

            <li>
              <div class="feature-card" style="--card-number: '01'">

                <div class="card-icon">
                  <img src="./assets/feature-icon-1.png" width="72" height="91" alt="">
                </div>

                <h3 class="h3 card-title">Planificación y Organización</h3>

                <p class="card-text">
                  Al ponerte en contacto con nosotros, analizamos tus necesidades, seleccionamos el transporte ideal 
                  y planificamos la ruta más eficiente.</p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '02'">

                <div class="card-icon">
                  <img src="./assets/feature-icon-2.png" width="94" height="94" alt="">
                </div>

                <h3 class="h3 card-title">Ejecución y Seguimiento</h3>

                <p class="card-text">
                  Se realiza la carga, el transporte propiamente dicho y el monitoreo en tiempo real del envío. 
                  Garantizando que el desarrollo siga lo establecido.
                </p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '03'">

                <div class="card-icon">
                  <img src="./assets/feature-icon-3.png" width="93" height="93" alt="">
                </div>

                <h3 class="h3 card-title">Entrega y Evaluación</h3>

                <p class="card-text">
                  La mercancía se entrega al destinatario final. Se evalúa el proceso para identificar áreas de mejora
                  y se recoge retroalimentación del cliente.
                </p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>

    <!-- 
    - custom js link
    -->
    <script src="../../assets/js/script.js" defer></script>

    <!-- 
    - ionicon link
    -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>